// Colors
$color-light: #f8fbff;
$color-dark: #222f3e;
$color-orange: #ff9f43;
$color-blue: #1e69e3;
$color-gray: #808080;
$color-red: #ff3e3e;

// Border Radius
$default-radius: 10px;

// Transition
$delay: 0.3s;