// Hero
.hero-explore {
    background-repeat: no-repeat;
    background-position: right (-130px) bottom;
    height: 673px;

    @include breakpoints-between(md, md) {
        background-size: 530px;
        background-position: right (-103px) bottom;
        margin-top: -90px;
    }

    @include breakpoints-down(sm) {
        background-size: 362px;
        background-position: right (-103px) bottom (-53px);
    }

    .right {
        padding-top: 234px;

        @include breakpoints-down(sm) {
            padding-top: 80px;
        }

        h1 {
            @include font-styles(600, 96px, 144px);
            background: -webkit-linear-gradient(-225.99deg, $color-orange 33.36%, $color-light 62.7%);
            background-clip: text;
            -webkit-text-fill-color: transparent;

            @include breakpoints-down(sm) {
                @include font-styles(600, 62px, 94px);
            }
        }

        p {
            margin-top: -25px;
            @include font-styles(400, 24px, 36px);
            color: $color-light;

            @include breakpoints-down(sm) {
                @include font-styles(400, 18px, 27px);
            }
        }
    }

    .left {
        padding-top: 200px;

        @include breakpoints-down(sm) {
            padding-top: 57px;
        }

        h1 {
            @include font-styles(400, 36px, 54px);
            color: $color-light;
            margin-bottom: 20px;

            @include breakpoints-down(sm) {
                @include font-styles(400, 24px, 36px);
            }
        }

        h1 span {
            font-weight: 600;
            color: $color-orange;
        }

        p {
            @include font-styles(400, 18px, 27px);
            color: $color-light;
            margin-bottom: 35px;

            @include breakpoints-down(sm) {
                @include font-styles(400, 14px, 21px);
            }
        }

        form {
            border-radius: $default-radius;

            label {
                border-radius: 10px 0 0 10px;
                background-color: $color-light !important;
                color: $color-dark;
                padding: 13px;
            }

            input {
                border-radius: 0 10px 10px 0;
                background-color: $color-light !important;
                @include font-styles(400, 18px, 27px);
                color: $color-dark !important;
                margin-left: -7px;
                padding: 13px;

                @include breakpoints-down(sm) {
                    @include font-styles(400, 14px, 21px);
                }

                &::-webkit-search-cancel-button {
                    appearance: none;
                    height: 12px;
                    width: 12px;
                    background-color: $color-dark;
                    clip-path: polygon(18% 0%, 0% 18%, 33% 50%, 0% 83%, 18% 100%, 50% 68%, 83% 100%, 100% 83%, 68% 50%, 100% 18%, 83% 0%, 50% 33%);
                    margin-right: 7px;
                    margin-left: 10px;
                }
            }
        }
    }
}


// Product
.product-explore {
    background-color: $color-light;
    padding-top: 80px;
    padding-bottom: 100px;

    h2 {
        @include font-styles(400, 28px, 42px);
        color: $color-dark;
        margin-bottom: 37px;

        @include breakpoints-down(sm) {
            @include font-styles(400, 18px, 27px);
            text-align: center;
        }
    }

    .choose-category {
        margin-bottom: 37px;

        a {
            @include font-styles(400, 14px, 21px);
            color: $color-light;
            background-color: $color-gray;
            padding: 5px 10px;
            border-radius: 20px;
            margin-right: 9px;
            margin-bottom: 9px;

            @include breakpoints-down(sm) {
                @include font-styles(300, 12px, 18px);
            }

            &:hover {
                background-color: $color-dark;
            }
        }
    }

    .card {
        background-color: $color-light;
        border-radius: $default-radius;

        img {
            border-radius: $default-radius;
            padding: 1px;
            background: -webkit-linear-gradient(135deg, $color-dark, $color-orange);
            height: 160px;
            object-fit: cover;

            @include breakpoints-down(sm) {
                height: 110px;
            }

            &:hover {
                filter: brightness(0.8);
            }
        }

        .category {
            @include font-styles(300, 12px, 18px);
            color: $color-gray;
            margin-bottom: 5px;
        }

        .card-title {
            @include font-styles(400, 18px, 27px);
            color: $color-dark;
            margin-bottom: 5px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;

            @include breakpoints-down(sm) {
                @include font-styles(400, 14px, 21px);
            }

            &:hover {
                color: rgba($color: $color-dark, $alpha: 0.75);
            }
        }

        .price {
            @include font-styles(400, 14px, 21px);
            color: $color-blue;

            @include breakpoints-down(sm) {
                @include font-styles(300, 12px, 18px);
            }
        }

        i {
            font-size: 13px;
            color: $color-gray;
            cursor: pointer;
            padding: 9px 8.5px 8px 8.5px;
            background-color: transparent;
            border: 1px solid $color-gray;
            border-radius: 50%;

            @include breakpoints-down(sm) {
                font-size: 10px;
                padding: 6px 5.5px 5px 5.5px;
            }

            &.favorite {
                color: $color-red;
                border: 1px solid $color-red;
            }
        }
    }

    .pagination {
        .page-link {
            border-radius: $default-radius;
            @include font-styles(400, 14px, 27px);
            color: $color-dark;
            background-color: $color-light;

            &:hover {
                color: $color-blue;
                background-color: $color-light;
            }
        }
    }
}