@import 'variables';
@import 'mixins';



// Content
.content-product-detail {
    background-color: $c-one;
    padding-top: 75px;
    padding-bottom: 144px;

    .left {
        #image {
            position: relative;
            margin-bottom: 60px;

            a img {
                border-radius: 23px;
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 23px;
                background-color: rgba($color: $c-two, $alpha: 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: $delay;

                img {
                    height: 59px;
                    width: 59px;
                }
            }

            a:hover span {
                opacity: 1;
            }

            // overlay
            .overlay {
                text-align: center;
                width: 0;
                height: 0;
                overflow: hidden;
                position: fixed;
                top: 0;
                right: 0;
                background-color: rgba($color: $c-two, $alpha: 0.5);
                z-index: 999;
                opacity: 0;
                transition: $delay;

                .btn-close {
                    position: absolute;
                    padding: 15px;
                    top: 0;
                    right: 0;
                    background-color: $c-one;
                    border-radius: 0;
                    box-shadow: -2px 2px 2px $c-two;
                }

                img {
                    padding: 35px;
                }

                &:target {
                    width: auto;
                    height: auto;
                    overflow: scroll;
                    bottom: 0;
                    left: 0;
                    opacity: 1;
                }
            }
        }

        ul {
            @include font-styles(500, 14px, 21px);
            color: $c-two;
        }
    }

    .right {

        h2 {
            @include font-styles(400, 18px, 27px);
            color: $c-two;
            margin-bottom: 15px;
        }

        p {
            @include font-styles(400, 12px, 18px);
            color: $c-two;
            margin-bottom: 29px;
        }

        .btn-up {
            margin-bottom: 13px;

            button {
                background-color: $c-two;
                border-radius: $default-radius;
                width: 100%;
                padding: 13px;
                @include font-styles(500, 14px, 21px);
                color: $c-one;
            }
        }

        .btn-down {

            a {
                border: 1px solid $c-five;
                background-color: $c-one;
                border-radius: $default-radius;
                width: 100%;
                padding: 13px;
                @include font-styles(400, 14px, 21px);
                color: $c-two;
            }
        }

        .card {
            background-color: $c-two;
            border-radius: $default-radius;
            padding-top: 33px;
            padding-bottom: 20px;
            margin-top: 62px;

            table {
                background-color: $c-two;
                border-radius: $default-radius;
                @include font-styles(600, 12px, 18px);
                color: $c-one;

                .thin {
                    font-weight: 400;
                }
            }

            img {
                width: 114px;
                height: 114px;
            }

            h5 {
                @include font-styles(500, 14px, 21px);
                color: $c-one;
                margin-bottom: 9px;
            }

            p,
            a {
                @include font-styles(400, 12px, 18px);
                color: $c-five;
                margin-bottom: 9px;
            }

            a {
                color: $c-one;
            }
        }
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

    // Content
    .content-product-detail {

        .left {

            ul {
                margin-bottom: 80px;
            }
        }
    }
}