.footer {
    @include font-styles(300, 18px, 27px);
    color: $color-light;
    margin-top: 80px;
    margin-bottom: 80px;

    p span {
        font-weight: 500;
    }

    ul li {
        background-color: $color-dark;
        @include font-styles(300, 18px, 27px);

        a {
            text-decoration: none;
            color: $color-light;
        }

        a:hover {
            color: $color-orange;
        }
    }
}