.footer {
    @include font-styles(400, 18px, 27px);
    color: $color-light;
    padding-top: 80px;
    padding-bottom: 80px;

    @include breakpoints-down(sm) {
        @include font-styles(400, 14px, 21px);
    }

    .brand {
        @include font-styles(600, 24px, 27px);
        color: $color-light;
        letter-spacing: 3px;
    }

    p span {
        font-weight: 600;
    }

    ul li {
        background-color: $color-dark;

        a {
            text-decoration: none;
            color: $color-light;
        }

        a:hover {
            color: $color-orange;
        }
    }
}