@import '../pages/variables';
@import '../pages/mixins';



// Navbar
.navbar {

    .navbar-brand {
        @include font-styles(600, 24px, 27px);
        color: $color-light !important;
    }

    .nav-link {
        @include font-styles(400, 18px, 27px);
        color: $color-light !important;
    }

    .active-link {
        @include font-styles(600, 18px, 27px);
        color: $color-orange !important;
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

    // Navbar
    .navbar {
        .nav-link {
            text-align: center;
        }
    }
}
